name: workout_app
description: "A cross-platform Flutter app designed to automate workout planning and provide real-time, individualized feedback to optimize performance."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  fl_chart:
    git:
      url: https://github.com/imaNNeoFighT/fl_chart.git
      ref: main

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  
  assets:
    - lib/training/daily_plan.json
    - lib/training/time_series.json
